@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 47, 32%, 86%;
  --foreground: 0, 0%, 0%;

  --card: 0, 0%, 95%;
  --card-foreground: 0, 0%, 0%;

  --border: 0, 0%, 80%;
  --input: 0, 0%, 50%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 47, 32%, 86%;
    --foreground: 0, 0%, 0%;

    --card: 0, 0%, 95%;
    --card-foreground: 0, 0%, 0%;

    --border: 0, 0%, 80%;
    --input: 0, 0%, 50%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
