@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 180, 31.8%, 85.7%;
  --foreground: 0, 0%, 0%;

  --card: 0, 0%, 95%;
  --card-foreground: 0, 0%, 0%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 180, 31.8%, 85.7%;
    --foreground: 0, 0%, 0%;

    --card: 0, 0%, 95%;
    --card-foreground: 0, 0%, 0%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
