@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 47, 32%, 86%;
  --foreground: 0, 0%, 0%;

  --card: 0, 0%, 95%;
  --card-foreground: 0, 0%, 0%;

  --border: 0, 0%, 80%;
  --input: 0, 0%, 50%;

  --ring: 215, 20.2%, 65.1%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 47, 32%, 86%;
    --foreground: 0, 0%, 0%;

    --card: 0, 0%, 95%;
    --card-foreground: 0, 0%, 0%;

    --border: 0, 0%, 80%;
    --input: 0, 0%, 50%;

    --ring: 216, 34%, 17%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

body:before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  opacity: 0.35;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
